spring:
  application:
    name: flashsale-service

  datasource:
    url: jdbc:mysql://localhost:3306/flashsale?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: test
    password: test123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

# JWT Configuration
jwt:
  secret: mySecretKeyForJWTTokenGenerationMustBe256BitsOrMoreForHS256AlgorithmToWorkProperly
  expiration: 86400000  # 24 hours in milliseconds

# Logging
logging:
  level:
    com.flashsale: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# OTP Configuration
otp:
  expiration-minutes: 5
  length: 6